@{
    ViewBag.Title = "login";
}

<form method="post">
    <label> username </label><input type="text"  name="username"/>
    <br />
    <label> password </label><input type="text" name="password" />
    <br />
    <input type="submit" value="send" /> 
</form>

