@{
    ViewBag.Title = "Addbill";
}

<form method="post">
    <label>Invoicenumber</label>  <input type="text" name="invoicenumber" />
    <br />
    <label>Value</label>          <input type="number" name="value" />
    <br />
    <label>Description</label>    <input type="text" name="Description" />
    <br />
    <input type="submit" value="send" />
</form>
<h1>@Session["id"]</h1>